<p> <strong> Hello <%= username %>  </strong>,</p>

<p>You are receiving this email because you (or someone else) has requested to reset the password for your account.</p>

<p>to change your password, click here 
    <a href="<%=link%>" target="_blank"> Reset password </a>
</p> 

            <h4>Or</h4>

<p>Copy and paste the link below into your browser:</p>

            <h4><%= link %> </h4>

<p>This link will expire in 1 hour, so be sure to use it right away.</p>

<p>If you did not request a password reset, please ignore this email and your password will remain unchanged.</p>
