<p> <strong> Hello <%= username %>  </strong>,</p>
                    
<p>We're glad you're here,</p>

<p>click the link below to activate Account</p>

<a href="<%=link%>" target="_blank"> Activate Account</a>

           <h4>Or</h4>

<p>Copy the link below and paste in your browser</p>

<h4> <%=link%> </h4>

<p>(Just confirming you're you.)</p>

<h5>Thanks!</h5>

