Hello <%= username %>,

You are receiving this email because you (or someone else) has requested to reset the password for your account.

Change your password, Copy and paste the link below into your browser:

            <h4><%= link %> </h4>

This link will expire in 1 hour, so be sure to use it right away.

If you did not request a password reset, please ignore this email and your password will remain unchanged.
