<!-- Jquery -->
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.79/jquery.form-validator.min.js"></script>
<!-- End -->

<!-- Plugin JS -->
<!-- <script src="../static/plugin/appear/jquery.appear.js"></script> -->
<script src="../static/plugin/bootstrap/js/popper.min.js"></script><!--popper-->
<script src="../static/plugin/bootstrap/js/bootstrap.js"></script><!--bootstrap-->

<!-- LANDING PAGE PARTICLES -->
<!-- <script src="static/plugin/particles/particles.min.js"></script>bootstrap
<script src="static/plugin/particles/particles-app.js"></script>bootstrap -->
<!-- End -->

<!-- ANIMATED TEXT -->
<!-- <script src="../static/js/animated-text.js"></script> -->
<!-- Custom -->
<!-- <script src="../static/js/jquery.parallax-scroll.js"></script> -->
<script src="../static/js/custom.js"></script>
<!-- <script type="text/javascript" src="../static/js/notifier.js"></script> -->
<script type="text/javascript" src="../static/js/toastr.min.js"></script>
<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right", //toast-top-center
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "30",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "slideDown",
        "hideMethod": "hide",

        // "closeHtml": '<button><i class="icon-off"></i></button>',
        "onCloseClick": function() { console.log('close button clicked'); },
        "rtl": true
    };

    // NotifierjsConfig.defaultTimeOut = 250;
    // NotifierjsConfig.position = ["bottom", "right"];
</script>



