<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Promote&Pay</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Softia">
    <meta name="keywords" content="Softia">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"> -->
  
    <!-- ALL GOOGLE FONTS
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700,900" rel="stylesheet"> -->
     
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:300,400,700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet"> -->
    
    <!-- Attribute https://linearicons.com -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

     <!-- Plugin CSS -->
    <link href="../static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- 
    <link href="../static/plugin/et-line/style.css" rel="stylesheet">
    <link href="../static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="../static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/plugin/magnific/magnific-popup.css" rel="stylesheet"> -->
    <!-- End -->
    
  
    <!-- Theme css -->
    <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
    <!-- <link href="../static/css/animated.min.css" rel="stylesheet"> -->
    <link href="../static/css/effects.css" rel="stylesheet">
    <link href="../static/css/toastr.min.css" rel="stylesheet">

    <!-- <link href="../static/css/animated-text.css" rel="stylesheet"> -->

    <link href="../static/css/color/default.css" rel="stylesheet">
    <!-- End -->
  



	<!-- <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../static/css/auth.css">

</head>