<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Promote&Pay</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Softia">
    <meta name="keywords" content="Softia">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"> -->
  

    
    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:300,400,700" rel="stylesheet">
    <!-- Plugin CSS -->
    <!-- <link href="../../static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="../../static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">

    <link href="../../static/css/effects.css" rel="stylesheet">
    <link href="../../static/css/color/default.css" rel="stylesheet"> -->
    <!-- End -->
  



   
    <!-- <link href="../fast.fonts.net/cssapi/487b73f1-c2d1-43db-8526-db577e4c822b.css" rel="stylesheet" type="text/css"> -->
    <link href="../../static/p&p/plugin/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="../../static/p&p/plugin/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="../../static/p&p/plugin/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="../../static/p&p/plugin/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../../static/p&p/plugin/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="../../static/p&p/plugin/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="../../static/p&p/plugin/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="../../static/p&p/css/maince5a.css" rel="stylesheet">
    <link href="../../static/p&p/css/customize.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <link href="../../static/css/toastr.min.css" rel="stylesheet">

</head>