<!------------------========================================--=============---- START - Mobile Menu  ------------==============================================--=======---------->
<div class="menu-mobile menu-activated-on-click color-scheme-dark">
        <div class="mm-logo-buttons-w">
            <a class="mm-logo" href="/">
                <span>Promote&Pay</span>
            </a>
            <div class="mm-buttons">
                <div class="content-panel-open">
                    <div class="os-icon os-icon-grid-circles"></div>
                </div>
                <div class="mobile-menu-trigger">
                    <div class="os-icon os-icon-hamburger-menu-1"></div>
                </div>
            </div>
        </div>

        <div class="menu-and-user">
            <div class="logged-user-w">
                <div class="avatar-w"><img alt="" src="img/avatar1.jpg"></div>
                <div class="logged-user-info-w">
                    <div class="logged-user-name">Maria Gomez</div>
                    <div class="logged-user-role">Administrator</div>
                </div>
            </div>


<!------------------- START - Mobile Menu List ------------------------>
            <ul class="main-menu">
                <li class="has-sub-menu"><a href="/account/br/dashboard">
                        <div class="icon-w">
                            <div class="os-icon os-icon-home"></div>
                        </div><span>Dashboard</span>
                    </a>
                    <!-- <ul class="sub-menu">
                        <li><a href="apps_crypto.html">Crypto Dashboard <strong class="badge badge-danger">Hot</strong></a></li>
                    </ul> -->
                </li>

                <li class="has-sub-menu"><a href="layouts_menu_top_image.html">
                        <div class="icon-w">
                            <div class="os-icon os-icon-layers"></div>
                        </div><span>Menu Styles</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="">Side &amp; Top</a></li>
                    </ul>
                </li>

                <li class="has-sub-menu">
                    <a href="apps_bank.html">
                        <div class="icon-w">
                            <div class="os-icon os-icon-package"></div>
                        </div><span>Applications</span>
                    </a>
                </li>

                <li class="has-sub-menu">
                    <a href="#">
                        <div class="icon-w">
                            <div class="os-icon os-icon-file-text"></div>
                        </div><span>Pages</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="misc_invoice.html">Invoice</a></li>
                    </ul>
                </li>


                <li class="has-sub-menu">
                    <a href="#">
                        <div class="icon-w">
                            <div class="os-icon os-icon-life-buoy"></div>
                        </div><span>UI Kit</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="uikit_modals.html">Modals <strong class="badge badge-danger">New</strong></a></li>
                    </ul>
                </li>


                <li class="has-sub-menu">
                    <a href="#">
                        <div class="icon-w">
                            <div class="os-icon os-icon-mail"></div>
                        </div><span>Emails</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="emails_welcome.html">Welcome Email</a></li>
                    </ul>
                </li>


                <li class="has-sub-menu">
                    <a href="#">
                        <div class="icon-w">
                            <div class="os-icon os-icon-users"></div>
                        </div><span>Users</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="users_profile_big.html">Big Profile</a></li>
                    </ul>
                </li>


                <li class="has-sub-menu">
                    <a href="#">
                        <div class="icon-w">
                            <div class="os-icon os-icon-edit-32"></div>
                        </div><span>Forms</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="forms_regular.html">Regular Forms</a></li>
                    </ul>
                </li>


                <li class="has-sub-menu">
                    <a href="#">
                        <div class="icon-w">
                            <div class="os-icon os-icon-grid"></div>
                        </div><span>Tables</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="tables_regular.html">Regular Tables</a></li>
                    </ul>
                </li>


                <li class="has-sub-menu">
                    <a href="#">
                        <div class="icon-w">
                            <div class="os-icon os-icon-zap"></div>
                        </div><span>Icons</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="icon_fonts_simple_line_icons.html">CARSSSSS Line Icons</a></li>
                    </ul>
                </li>
            </ul>
<!-------------------- END - Mobile Menu List ------------------>

        </div>
    </div>

    
<!------------=========================================--=======---------- END - Mobile Menu -------=======================================--============================--=====--------------->










<!--------------------START - Main Menu-------------------->
<div class="menu-w color-scheme-dark color-style-bright menu-position-side menu-side-left menu-layout-mini sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
        <div class="logo-w">
            <a class="logo" href="/">
                <div class="logo-element"></div>
                <div class="logo-label">Promote&Pay</div>
            </a>
        </div>

        <!-- <h1 class="menu-page-header">Page Header</h1> -->
        <ul class="main-menu">
            <li class="sub-header"><span>Layouts</span></li>
            <li class="selected has-sub-menu">
                <a href="/account/br/dashboard">
                    <div class="icon-w">
                        <div class="os-icon os-icon-home"></div>
                    </div><span>Dashboard</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Dashboard</div>
                </div>
            </li>

            <li class=" has-sub-menu">
                <a href="/account/br/campaign">
                    <div class="icon-w">
                        <div class="os-icon os-icon-speaker"></div>
                    </div><span>Campaigns</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Campaigns</div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu">
                            <li><a href="/account/br/campaign/awareness"> Awareness</a></li>
                            <li><a href="/account/br/campaign/sales"> Sales </a></li>
                            <li><a href="/account/br/campaign/traffic"> Traffic </a></li>

                        </ul>
                    </div>
                </div>
            </li>

            <!-- <li class="sub-header"><span>Options</span></li> -->
            
            <li class=" has-sub-menu">
                <a href="apps_bank.html">
                    <div class="icon-w">
                        <div class="os-icon os-icon-settings"></div>
                    </div><span>Settings</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Settings</div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu">
                            <li><a href="/account/br/profile">Brand Profile </a></li>
                            <li><a href="/account/br/notification">Notifications </a></li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class=" has-sub-menu"><a href="#">
                    <div class="icon-w">
                        <div class="os-icon os-icon-file-text"></div>
                    </div><span>Help Center</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Help Center</div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu">
                            <li><a href="">Getting Started</a></li>
                            <li><a href="">Support Center</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">User Guidelines</a></li>
                        </ul>
                    </div>
                </div>
            </li>


            <!-- <li class=" has-sub-menu"><a href="#">
                    <div class="icon-w">
                        <div class="os-icon os-icon-life-buoy"></div>
                    </div><span>UI Kit</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">UI Kit</div>
                    <div class="sub-menu-icon"><i class="os-icon os-icon-life-buoy"></i></div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu">
                            <li><a href="uikit_modals.html">Modals <strong class="badge badge-danger">New</strong></a></li>						
                        </ul>
                    </div>
                </div>
            </li>  -->

            <!-- <li class="sub-header"><span>Elements</span></li>
            <li class=" has-sub-menu"><a href="#">
                    <div class="icon-w">
                        <div class="os-icon os-icon-mail"></div>
                    </div><span>Emails</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Emails</div>
                    <div class="sub-menu-icon"><i class="os-icon os-icon-mail"></i></div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu">
                            <li><a href="emails_welcome.html">Welcome Email</a></li>
                        </ul>
                    </div>
                </div>
            </li> -->

            <!-- <li class=" has-sub-menu"><a href="#">
                    <div class="icon-w">
                        <div class="os-icon os-icon-users"></div>
                    </div><span>Users</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Users</div>
                    <div class="sub-menu-icon"><i class="os-icon os-icon-users"></i></div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu">
                            <li><a href="users_profile_big.html">Big Profile</a></li>
                        </ul>
                    </div>
                </div>
            </li> -->

            <!-- <li class=" has-sub-menu"><a href="#">
                    <div class="icon-w">
                        <div class="os-icon os-icon-edit-32"></div>
                    </div><span>Forms</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Forms</div>
                    <div class="sub-menu-icon"><i class="os-icon os-icon-edit-32"></i></div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu">
                            <li><a href="forms_regular.html">Regular Forms</a></li>
                        </ul>
                    </div>
                </div>
            </li> -->

            <!-- <li class=" has-sub-menu"><a href="#">
                    <div class="icon-w">
                        <div class="os-icon os-icon-grid"></div>
                    </div><span>Tables</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Tables</div>
                    <div class="sub-menu-icon"><i class="os-icon os-icon-grid"></i></div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu">
                            <li><a href="tables_regular.html">Regular Tables</a></li>
                        </ul>
                    </div>
                </div>
            </li> -->

            <!-- <li class=" has-sub-menu"><a href="#">
                    <div class="icon-w">
                        <div class="os-icon os-icon-zap"></div>
                    </div><span>Icons</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Icons</div>
                    <div class="sub-menu-icon"><i class="os-icon os-icon-zap"></i></div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu">
                            <li><a href="icon_fonts_entypo.html">Entypo</a></li>
                        </ul>
                    </div>
                </div>
            </li> -->

        </ul>
    </div>


    <!--------------------END - Main Menu-------------------->