<% include ./partials/head%>

<body data-spy="scroll" data-target="#navbar" data-offset="98">
	<div id="loading">
		<div class="load-circle"><span class="one"></span></div>
	</div>

	<main>
		<div class="container">
			<div class="grid grid-style">
					
				<div id="login">
					<a href="/">
						<h1>
							<i class="lnr lnr-unlink mr-2 color-success u-fs-20"></i>
							Promote&Pay
						</h1>
						<!-- <img class="dark-logo" src="../static/img/logo.svg" title="" alt=""> -->
					</a>
					<hr>
					<h1 class="text-center" style="padding-top: 20px;"><strong>Reset your password.</strong></h1>
					<h4 class="text-center" style="padding-bottom: 20px;">Enter Your New Password.</h3></h4>
                    
                    <form autocomplete="off" action="/auth/reset-pword?reset_token=<%= reset_token %>" method="POST">
						<fieldset>
							<!-- <input type="hidden" name="csrfmiddlewaretoken" value="QC4PKomul8U1ikSayn2LGaUmInkRmcCT2XctOzkJv4nxGaBak1cPx5T8xNBeiyxM"> -->
							<p>
                                <input 
                                    name="password" 
                                    type="password" 
                                    required maxlength="30" 
                                    data-validation="required" 
                                    data-validation-error-msg="Please enter your password." 
                                    placeholder="Password" 
                                >
                            </p> 
                            <p style="padding-bottom: 10px;">
                                <input 
                                    name="confirmPassword" 
                                    type="password" 
                                    required maxlength="30" 
                                    data-validation="required" 
                                    data-validation-error-msg="Please enter your confirm password." 
                                    placeholder="Confirm Password" 
                                >
                            </p> 

                            <hr class="rule-auth-button">
                            <button type="submit"><i class="fa fa-lock"></i> Reset Password</button>
						</fieldset>
                    </form>
                    <div style="height: 255px;"></div>
				</div> 
					
				<div>
					<hr>
					<p class="legal">Our <a href="/terms">terms & conditions</a> and <a href="/privacy">privacy policy</a></p>
				</div>
			</div>
		</div>
    </main>

    <% include ./partials/foot%>

    <% if(error && error.length > 0 ) {%>
		<input type="hidden" id="toast" value="<%= error %>" >
		<script>
			var err = document.getElementById('toast').value;
			toastr["error"](err)
		</script>
	<%}%>

	<% if(success && success.length > 0) {%>
		<input type="text" id="toastr" value="<%= success %>" >
		<script>
			var suc = document.getElementById('toastr').value;
			toastr["success"](suc)
		</script>
    <%}%>
    
</body>
</html>